@charset "UTF-8";
.nav-container{
	margin-left: 100px;
}
.searchbar{
	margin-left: 30%;
	padding-top: 10px;
}
body{
	margin-left:30px;
	margin-right:30px;
}
button.logout{
	margin-bottom:5px;
}
button a{
  text-decoration: none;
}
.top{
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
   
        .view-all{
            color: #ea0505 ;
            cursor: pointer;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            position: absolute;
            right: 5%;
        }
footer{
	background:#e9ecef;
	color: black;
}
.box {
    padding:20px;
    margin-top: 20px;
 

}
.inside_cart_image {
        height: 270px;
        width: 300px;
    }
 
 .text_area_box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   
  }
 .shop_btn{
        background: rgb(230, 230, 230);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 150px;
        padding: 10px;
    }
.shop_btn{
        background: rgb(230, 230, 230);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 150px;
        padding: 10px;
    }
 .empty_cart_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .sticky {
  position: fixed;
  top: 0;
  width: 100%
}
a .cartlink{
	margin-left: 40px;
}

 